@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    background-image: url(./Img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

ul,
li {
    list-style-type: none;
}

.app {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    .first-page {
        margin-top: 20vh;
        color: #fff;
        text-shadow: -2px 0px 6px #0a0a0477;
        font-size: 35px;
        line-height: 1.2em;
        font-weight: 900;  
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .header-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        background-color: #eae7e7;
        background: #A3A3A3;
        background: -moz-linear-gradient(top, #A3A3A3 0%, #D6D6D6 21%, #FEFEFE 100%);
        background: -webkit-linear-gradient(top, #A3A3A3 0%, #D6D6D6 21%, #fefefec3 100%);
        background: linear-gradient(to bottom, #A3A3A3 0%, #D6D6D6 21%, #fefefe95 100%);
        box-shadow: 0px 2px 15px -5px #a3a3a374;
        .content {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 25px 30px;
            .logo {
                color: #ffffff;
                text-shadow: -2px 0px 6px #0a0a04;
                font-size: 35px;
                line-height: 1.2em;
                font-weight: 900;
            }
            .links {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 10px;
                @media(max-width: "502px") {
                    justify-content: flex-end;
                    gap: 40px;
                }
                .button {
                    font-size: 18px;
                    line-height: 1.2em;
                    font-weight: 900;
                    color: #828080;
                    padding: 10px;
                    border: 2px solid #e4e2e2;
                    border-radius: 15px;
                    background-color: #fff;
                }
                .button:hover {
                    background-color: #FFD800;
                    color: rgb(0, 0, 0);
                    transition: 0.8s;
                }
            }
            :link {
                color: #bbaea3;
                text-decoration: none;
            }
        }
    }
    .search-container,
    .fav-container {
        margin-top: 20px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        .error {
            font-size: 1em;
            font-weight: 600;
            line-height: 1.5em;
            letter-spacing: 1.2px;
            color: #828080;
        }
        .search-row {
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            input[type="search"] {
                font-family: 'Montserrat', sans-serif;
                background-color: #ffffff7d;
                border: 1px inset #e9e8e8;
                border-radius: 15px;
                width: 50vw;
                height: 2.7em;
                padding-left: 0.8em;
                padding-right: 0.8em;
                font-size: 1em;
                font-weight: 600;
                line-height: 1.5em;
                color: #828080;
                letter-spacing: 1px;
                outline: none;
            }
            .btn {
                padding: 10px;
                border: 2px solid #e4e2e2;
                background-color: #fff;
                border-radius: 15px;
                min-width: 10vw;
                height: 2.7em;
                font-family: 'Montserrat', sans-serif;
                font-weight: 900;
                font-size: 1em;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #828080;
            }
            .btn:hover {
                background-color: #FFD800;
                color: rgb(0, 0, 0);
                transition: 0.8s;
                cursor: pointer;
            }
        }
        .card {
            position: relative;
            width: 45vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            box-shadow: 0px 5px 11px -5px rgba(0, 0, 0, 0.397);
            border: 2px solid #ede7e1;
            border-radius: 15px;
            gap: 10px;
            @media(max-width: "1234px") {
                width: 60vw;
            }
            .heart {
                position: absolute;
                top: 1vh;
                right: 1vw;
                font-size: 36px;
                color: #fff;
                cursor: pointer;
            }
            .poster-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                background-color: #fdbf23;
                background: #FDB815;
                background: -moz-linear-gradient(top, #FDB815 0%, #FDD440 56%, #FDEB51 100%);
                background: -webkit-linear-gradient(top, #FDB815 0%, #FDD440 56%, #FDEB51 100%);
                background: linear-gradient(to bottom, #FDB815 0%, #FDD440 56%, #FDEB51 100%);
                box-shadow: 0px 5px 11px -5px rgba(0, 0, 0, 0.297);
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: -2px;
                .poster-img,
                .filler-poster {
                    background-color: #dbdada;
                    width: 450px;
                    height: 400px;
                    padding: 20px;
                    background-color: rgb(255, 255, 255);
                    @media (max-width: 1234px) {
                        width: 60%;
                        height: 60%;
                    }
                }
            }
            .info {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .info-header {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    .title {
                        text-align: center;
                        width: 50%;
                        color: #646464;
                        font-size: 30px;
                        line-height: 1.2em;
                        font-weight: 900;
                    }
                }
                .info-table {
                    width: 42vw;
                    padding-bottom: 10px;
                    .table-title {
                        text-align: center;
                    }
                    td, th {
                        border: 1px solid rgb(216, 210, 210);
                        padding: 1rem;
                    }
                    .instruction {
                        text-align: justify;
                        letter-spacing: 0.5px;
                        font-size: 13px;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }
}